<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="nwindConnection" connectionString="XpoProvider=MSAccess;Provider=Microsoft.Jet.OLEDB.4.0;Mode=Share Deny None;data source=C:\Users\Public\Documents\DevExpress Demos 14.2\Components\Data\nwind.mdb;user id=;password=;"/>
        <add name="northwindConnection" connectionString="XpoProvider=MSSqlServer;data source=localhost\sqlexpress;integrated security=SSPI;initial catalog=NORTHWND"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
